html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	text-rendering: optimizeLegibility !important;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	color: #732C7B;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	 margin:0;
	 padding:0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #86c301;
	text-decoration: none;
	color:#000;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure img are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #86c301;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 6px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}


body.custom-background{
	background-image:none !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
font-family: Arial;
font-size: 12px;
color: #aeaeae;
background-image: url(/assets/bg02.jpg);
background-attachment: fixed;
background-size: stretch;
}
#page {
position: relative;
z-index: 999;
margin: auto;
}
#wrapper {
min-width: 97% !important;
width: 97% !important;
margin: 0 auto;
padding: 0;
position: relative;
z-index: 99999999;
margin-left: 3% !important;
}
#secondary {
float: left;
width: auto;
margin: auto;
}
.header {
width: 248px;
margin: 0;
padding: 0;
border-left: 1px solid #1b1b1b;
border-right: 1px solid #1b1b1b;
float: left;
}
.header .logo {
width: 100%;
margin: 0;
padding: 60px 0 30px;
background: url(/assets/menu-bg.png);
text-align: center;
}
.header .header-bottom {
transition: all 0.5s ease;
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: initial;
}
.header .header-bottom #header-bottom-shape {
transition: all 0.5s ease;
transition-property: all;
transition-duration: 0.5s;
transition-timing-function: ease;
transition-delay: initial;
}
#secondary a, #footer-sidebar a {
text-decoration: none;
}
.header .logo h1.site-title a {
font: 700 45px 'Roboto Condensed', Arial;
text-decoration: none;
font-size: 4rem;
color: #732C7B;
}
.header .logo h1.site-title a:hover {
font: 700 45px 'Roboto Condensed', Arial;
text-decoration: none;
font-size: 4rem;
color: #732C7B;
background: transparent !important;
}
a:hover, a:focus, a:active {
color: #eeeded;
}
#site-nav {
width: 100%;
margin: 0;
padding: 0 0 60px;
background: url(/assets/menu-bg.png);
text-transform: uppercase;
font: 300 16px 'Roboto Condensed', Arial;
}
.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
position: absolute !important;
}
#site-nav ul {
margin: 0;
padding: 0;
}
#secondary ul, #footer-sidebar ul {
margin-left: 0px;
list-style: none;
}
#site-nav ul li:hover, #site-nav li.current_page_item {
background: url(/assets/menu-hover.png);
}
#site-nav ul li {
display: block;
position: relative;
list-style: none;
border-top: 1px #2c2d2e solid;
border-bottom: 1px #040506 solid;
padding: 0;
line-height: normal;
}
#site-nav ul li a {
background: url(/assets/nav-icon.png) no-repeat 20px center;
padding: 6px 0 6px 49px;
display: block;
font-weight: 300;
color: #eeeded;
text-decoration: none;
}
#site-nav ul li a:hover, #site-nav li.current_page_item a {
background-image: url(/assets/nav-icon-hover.png);
}
.header .header-bottom {
width: 100%;
margin: 0;
padding: 0;
background: url(/assets/header-bottom-shape.png) no-repeat bottom;
height: 53px;
}
#header-bottom-shape {
background: url(/assets/header-bottom-shape2.png) no-repeat top;
width: 73px;
height: 44px;
cursor: pointer;
margin-left: 86px;
}
#header-bottom-shape.showDown {
background-image: url(/assets/header-bottom-shape1.png);
}

/* Navigation */

#site-nav-wrap {
width: auto;
float: left;
}
#site-nav-header {
width: 248px;
margin: 0;
padding: 0;
border-left: 1px solid #1b1b1b;
border-right: 1px solid #1b1b1b;
float: left;
}
#site-nav-header .brand {
width: 100%;
margin: 0;
padding: 60px 0 30px;
text-align: center;
}
#site-nav-header .brand h1.site-title a:hover {
color: #FFF;
}
#site-nav-header .brand h1.site-title a {
font: 700 45px 'Roboto Condensed', Arial;
text-decoration: none;
}
#site-nav {
width: 100%;
margin: 0;
padding: 0 0 60px;
background: url(/assets/menu-bg.png);
text-transform: uppercase;
font: 300 16px 'Roboto Condensed', Arial;
}
#site-nav-wrap ul {
margin-left: 0px;
list-style: none;
margin: 0px;
padding: 0px;
}
#site-nav-wrap .accordion {
*zoom: 1;
margin-bottom: 0;
}
#site-nav-wrap .accordion:before, 
#site-nav-wrap .accordion:after {
    content: " ";
    display: table; 
}
dd.nav {
	margin: 0px;
	}
.accordion:after {
    clear: both; 
}
@media screen and (max-height:450px) {
.header .logo {
padding: 0px;
height: 5rem;
}
.header .logo h1, .header .logo h2 {
font-size: 3.2rem !important;

}
}
@media screen and (max-width:960px) {
.header .logo {
padding: 0px;
height: 5rem;
}
.header .logo h1, .header .logo h2 {
font-size: 3.2rem !important;

}
#wrapper {
min-width: 97% !important;
width: 100% !important;
margin: 0 auto;
padding: 0;
position: relative;
z-index: 99999999;
margin-left: 0% !important;
}
}
.navigation-links .accordion dd > .hasContent:after {
font-family: FontAwesome;
content: "\f078";
float: right;
padding-right: 1rem;
}
.navigation-links .accordion dd.active > .hasContent:after {
font-family: FontAwesome;
content: "\f077";
float: right;
padding-right: 1rem;
}
.accordion a {
display: block;
position: relative;
list-style: none;
border-top: 0px #2c2d2e solid;
border-bottom: 1px #421C52 solid;
padding: 0;
line-height: normal;
}
.accordion dd {
display: block;
position: relative;
list-style: none;
border-top: 0px #2c2d2e solid;
border-bottom: 0px #040506 solid;
padding: 0;
line-height: normal;
}
.accordion dd > a {
display: block;
position: relative;
list-style: none;
border-top: 0px #2c2d2e solid;
border-bottom: 1px #421C52 solid;
padding: 0;
line-height: normal;
background: transparent;
color: #732C7B;
font: 300 16px 'Roboto Condensed', Arial;
}
.accordion dd > a:hover {
color: #BDAEC6;
background: #421C52 !important;
}
.accordion .accordion-navigation>.content.active, .accordion dd>.content.active {
display: block;
background: transparent;
padding: 0px;
}
.navigation-links dl a {
padding: 6px 0 6px 49px;
display: block;
font-weight: 400;
text-decoration: none;
}
.navigation-links dl a:hover {
color: #BDAEC6;
background: #421C52 !important;
}
.navigation-links dl:hover, .navigation-links dl.current_page_item,
.accordion .accordion-navigation.active>a, .accordion dd.active>a,  .accordion dd.active>a:focus  {
background: url(/assets/menu-hover.png) no-repeat 20px center;
}
a:hover, a:focus {
color: #421C52;
background-color: #BDAEC6;
}
.navigation-links dl .content a:hover, .navigation-links dl .content a:active, .navigation-links dl .content a:hover {
background: #421C52 !important;
}
.accordion dd.active>a {
background: #421C52 !important;
color: #BDAEC6 !important;
}
.topBorder {
border-top: 1px #472C52 solid !important;
}

@media screen and (max-width: 960px) {
	#wrapper {
		min-width: 768px;
	}
	#secondary {
		width: 100%;
	}
	.header {
		width: 100%;
		border: 0px;
	}
	.header .logo {
		width: 248px;
		margin: auto;
	}
	#header-bottom-shape {
		margin: auto;
	}
	#site-nav {
		margin: auto;
		width: 248px;
	}
}
@media screen and (max-height: 300px) {
}
.goog-tooltip {display: none !important;}
.goog-tooltip:hover {display: none !important;}
.goog-text-highlight {background-color: transparent !important; border: none !important; box-shadow: none !important;}
#google_language_translator a {display: none !important; }
.goog-te-gadget {color:transparent !important;}
.goog-te-gadget { font-size:0px !important; }
.goog-branding { display:none; }
#google_language_translator { display:none; }
#flags { display:none; }
#google_language_translator {color: transparent;}
body { top:0px !important; }
.main-navigation {	margin-bottom: -5px;}
.main-navigation {	margin-bottom: 15px;}
#site-nav ul li a:hover, #site-nav li.current_page_item a{background-image:url(http://www.liverpooltourists.com/wp-content/themes/skt-full-width/images/nav-icon-hover.png)}
#site-nav ul li a:hover, #site-nav li.current_page_item a, div.slide-title a:hover{color:#ffffff;}
mark, ins, a, .archive h1.page-title:first-letter,.page h1.entry-title:first-letter, h2#page-title:first-letter,.archive h1.page-title:first-letter,.page h1.entry-title:first-letter, .single-post h1.entry-title:first-letter, .entry-meta a, .search h1.entry-title:first-letter,.archive h1.entry-title:first-letter, .read-more a:hover, .recent-post .post-box .post-text a, aside ul li a:hover, .widget ul li a:hover, h3.company-title:first-letter, .footer-menu ul li a:hover, .social a:hover, .footer-bottom a{color:#732C7B;}button, html input[type="button"], input[type="reset"],input[type="submit"]{background-color:#ffffff;}
.pagination ul  > li  > a, .pagination ul  > li  > span{background:linear-gradient(#ffffff, #ffffff) !important; background:-moz-linear-gradient(#ffffff, #ffffff) !important; background:-webkit-linear-gradient(#ffffff, #ffffff) !important; background:-o-linear-gradient(#ffffff, #ffffff) !important;}
.pagination ul  > li:hover > a, .pagination ul  > li > span.current{background:linear-gradient(#ffffff, #ffffff) !important; background:-moz-linear-gradient(#ffffff, #ffffff) !important; background:-webkit-linear-gradient(#ffffff, #ffffff) !important; background:-o-linear-gradient(#ffffff, #ffffff) !important;}
@media screen and (max-height:450px) {
.header .logo h1.site-title a {
    font-size: 3.2rem !important;
}
}
@media screen and (max-width:960px) {
.header .logo h1.site-title a {
    font-size: 3.2rem !important;
}
}

#primary {
  width: 72%;
  float: right;
  }
  
#content {
    padding: 20px;
    padding-top: 60px;
    word-wrap: break-word;
    background: url('/assets/menu-bg.png') repeat scroll 0% 0% transparent;
}

.container {
    width: 94.5%;
    margin: 0px;
}

.blog-post {
    width: 406px;
    margin: 0px;
    padding: 0px;
    float: left;
}
.hentry {
    margin: 0px 0px 1.5em;
}
h2#page-title, .archive h1.page-title, h1.entry-title {
    font: 700 4rem "Roboto Condensed",Arial;
    display: inline-block;
    clear: both;
    text-transform: uppercase;
    padding: 0px 0px 0px;
    color: #732C7B;
}
